* {
	box-sizing: border-box;
}
button {
	background-color: rgb(255,0,120);
	color: white;
	outline: none;
	border: 1px solid rgb(255,0,120);
	border-radius: 3px;
	padding: 5px;
	cursor: pointer;
}
.icon-button {
	
}
.margin5 {
	margin: 5px;
}
.app {
	background-color: white;
	padding-bottom: 40px;
}
.header1 {
	text-align: right;
	padding: 10px;
}
.header1 input {
	padding: 5px;
	width: 40%;
	border-radius: 4px;
	border: 1px solid rgb(120,120,120);
	outline: none;
}
.option1 {
	display: flex;
	flex-wrap: wrap;
}
.filter-header {
	flex: 20%;
	max-width: 20%;
	background-color: white;
	padding: 10px;
	border-bottom: 1px solid rgb(220,220,220);
	font-weight: 500;
}
.search-box {
	flex: 55%;
	max-width: 55%;
	background-color: white;
	padding: 10px;
}
.option1 .sort-box select {
	width: 100%;
	padding: 3px;
	border-radius: 0px;
	border: 1px solid rgb(150,150,150);
	outline: none;
	font-size: 16px;
	color: rgb(150,150,150);
	font-weight: 500;
}
.option1 .sort-box {
	flex: 25%;
	max-width: 25%;
	padding: 10px;
	background-color: white;
}
.app-wrapper {
	display: flex;
	width: 100%;
	overflow: hidden;
	flex-wrap: wrap;
}
.side-bar {
	background-color: white;
	flex: 20%;
	max-width: 20%;
	width: 50px;
}
.filter-panel {
	border: 1px solid rgb(220,220,220);
	padding: 20px 10px;
	border-top: none;
}
.product-container {
	display: flex;
	flex-wrap: wrap;
	flex: 80%;
	max-width: 80%;
}
.product {
	padding: 10px;
	max-width: 25%;
	flex: 25%;
	display: flex;
}
.hover-options {
	background-color: transparent;
	visibility: hidden;
	position: relative;
	bottom: 115px;
}
.slide-show-dots {
	height: 20px;
	font-size: 12px;
}
.hover-options .part1 {
	margin: 2px;
	margin-right: 10px;
	text-align: right;
}
.hover-options .part2 {
	background-color: white;
	text-align: center;
}
.hover-options .size-container {
	color: rgb(140,140,140);
	font-size: 12px;
}
.hover-options .show-similar-button {
	width: 40px;
	height: 18px;
	overflow: hidden;
	transition-property: width;
	transition-duration: 80ms;
	border-radius: 10px;
	background-color: white;
	color: rgb(255,0,120);
	border:1px solid white;
	padding: 1px;
	outline: none;
	font-weight: bold;
}
.hover-options .show-similar-button:hover {
	width: 150px;
}
.add-to-wishlist-button {
	width: 80%;
}
.product-wrapper:hover .product-details .hover-options{
	visibility: visible;
}
.product-wrapper {
	background-color: white;
	width: 75%;
	margin: auto;
	max-height: 340px;
	cursor: pointer;
}
.product-wrapper:hover {
	box-shadow: 0px 0px 10px rgb(220,220,220);
}
.image-wrapper {
	max-height: 300px;
	overflow: hidden;
}
.product-image {
	width: 100%;
}
.product-details {
}
.brand {
	padding: 5px 10px;
	font-weight: 500;
	font-size: 14px;
}
.type {
	padding: 0px 10px;
	font-size: 12px;
	color: rgb(0,0,0,0.5);
}
.price-wrapper {
	padding: 5px 10px;
	font-size: 14px;
}
.price {
	font-weight: 500;
}
.original-price {
	font-size: 12px;
}
.discount {
	color: rgb(255,0,120);
}
.option2 {
	display: none;
}
.details-wrapper {
	display: flex;
}
.piece-data {
	flex: 50%;
	max-width: 50%;
}
.images {
	flex: 50%;
	max-width: 50%;
}
.images img{
	max-height: 200px;
	margin: 2px;
}
.size-button {
	border: 1px solid rgb(255,0,120);
	border-radius: 50%;
	padding: 5px;
	margin: 5px;
	outline: none;
	background-color: white;
	color: rgb(255,0,120);
}
.size-button.active {
	background-color: rgb(255,0,120);
	color: white;
}
@media screen and (max-width: 1000px) {
	.product {
		flex: 50%;
		max-width: 50%;
	}
	.product-wrapper {
		max-height: 390px;
	}
	.hover-options {
		bottom: 115px;
	}
}
@media screen and (min-width: 1001px) and (max-width: 1200px) {
	.product {
		flex: 33%;
		max-width: 33%;
	}
	.product-wrapper {
		max-height: 360px;
	}
}
@media screen and (max-width: 900px) {
	.app {
		background-color: white;
	}
	.product-container {
		flex: 100%;
		max-width: 100%;
	}
	.product-wrapper {
		flex: 100%;
		max-width: 100%;
		max-height: 380px;
	}
	.product {
		flex: 50%;
		max-width: 50%;
		padding: 0px;
		border: 1px solid gray;
	}
	.side-bar {
		display: none;
	}
	.option1 {
		display: none;
	}
	.option2 {
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		background-color: orange;
		display: flex;
	}
	.option2 div {
		flex: 50%;
		max-width: 50%;
		padding: 10px;
		text-align: center
	}
}
@media screen and (max-width: 339px) {
	.details-wrapper {
		display: block;
	}
	.piece-data {
		flex: 100%;
		max-width: 100%;
	}
	.images {
		flex: 100%;
		max-width: 100%;		
	}
	.images img{
		max-height: initial;
		max-width: 100%;
	}
	.product-wrapper {
		height: 320px; 
	}
}